# =========================
# Python
# =========================

netshield-backend/venv/
netshield-backend/__pycache__/
netshield-backend/**/*.pyc
netshield-backend/**/*.pyo

# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example

# =========================
# Datasets
# =========================

netshield-backend/datasets/**
!netshield-backend/datasets/processed/
!netshield-backend/datasets/processed/unsw_preprocessor.joblib
# =========================
# Trained ML Models
# =========================

netshield-backend/ml/models/*
!netshield-backend/ml/models/unsw_random_forest_improved.joblib

# =========================
# Next.js
# =========================

netshield-frontend/node_modules/
netshield-frontend/.next/
netshield-frontend/tsconfig.tsbuildinfo

# =========================
# OS / Editor
# =========================

.DS_Store
Thumbs.db
.vscode/