SECRET_KEY=MAljFwdhnd1vdBhYEcpdALuLQCRPNDUuCIj9KldMT8wWz4GwGlLfxYbLYXlDRFqBhX1rB91g0A2LvkWr-jII9w
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=sqlite:///./netshield.db
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://network-anamoly-detection.onrender.com,https://network-anamoly-detection-1.onrender.com