*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f7fa;
}

.container{
display:flex;
height:100vh;
}

/* Left Panel */

.left-panel{
width:45%;
background:linear-gradient(135deg,#062b33,#0a5c63);
color:white;
padding:60px;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.logo-icon{
color: #00ffcc;
font-size:24px;
}

.logo-text{
color: white;
font-size:24px;
font-weight:bold;
}

.left-panel h1{
font-size:48px;
line-height:1.2;
}

.left-panel h1 span{
color:#2dd4bf;
}

.desc{
margin-top:20px;
font-size:18px;
color:#d1d5db;
}

.features{
margin-top:40px;
}

.features p{
margin:15px 0;
font-size:18px;
}

.footer{
font-size:13px;
color:#cbd5e1;
}

/* Right Panel */

.right-panel{
width:55%;
display:flex;
justify-content:center;
align-items:center;
background:white;
}

.login-box{
width:400px;
}

.login-box h2{
font-size:32px;
margin-bottom:10px;
}

.login-box p{
color:gray;
margin-bottom:25px;
}

label{
display:block;
font-weight:bold;
margin-bottom:8px;
margin-top:15px;
}

input[type=text],
input[type=email],
input[type=password]{
width:100%;
padding:12px;
border:1px solid #ccc;
border-radius:8px;
font-size:15px;
}

.options{
display:flex;
justify-content:space-between;
margin-top:15px;
font-size:14px;
}

.options a{
text-decoration:none;
color:#0f766e;
}

button{
width:100%;
padding:14px;
margin-top:25px;
background:#0f766e;
color:white;
border:none;
border-radius:8px;
font-size:16px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#115e59;
}

.register{
margin-top:25px;
text-align:center;
}

.register a{
text-decoration:none;
font-weight:bold;
color:#0f766e;
}

select{
width:100%;
padding:12px;
border:1px solid #ccc;
border-radius:8px;
font-size:15px;
margin-top:5px;
background:white;
}