# Python cache
__pycache__/
*.py[cod]

# Python virtual environments
venv/
.venv/
env/

# Node
node_modules/

# Environment variables
.env

# React build
build/

# VS Code
.vscode/

# Operating system
.DS_Store
Thumbs.db